<a href="https://colab.research.google.com/github/mvslopes/PYTHON-ESTUDOS/blob/main/04_SPRINT_04_USANDO_SQL_USANDO_SQL_PARA_RESPONDER_PERGUNTAS_DE_NEGOCIO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**SPRINT 04 - USANDO SQL USANDO SQL PARA RESPONDER PERGUNTAS DE NEGÓCIO**

In [ ]:
SELECT
LinhaSeparacao,
NumeroLinhaSeparacao,
TO_CHAR(ROUND(SUM(MediaProdutividade)::numeric, 0), 'FM999G999G999D') AS ProdutividadeArredondada,
RANK() OVER (ORDER BY SUM(MediaProdutividade) DESC) AS RankProdutividade

FROM (
SELECT
linha_separacao_01 AS LinhaSeparacao,
'01' AS NumeroLinhaSeparacao,
SUM("produtividade_linha_01_pç_h") AS MediaProdutividade
FROM produtividade.tb_produtos_cabelos
GROUP BY linha_separacao_01

UNION ALL

SELECT linha_separacao_02 AS LinhaSeparacao,
'02' AS NumeroLinhaSeparacao,
SUM("produtividade_linha_02_pç_h") AS MediaProdutividade
FROM produtividade.tb_produtos_cabelos
GROUP BY linha_separacao_02

UNION ALL

SELECT linha_separacao_03 AS LinhaSeparacao,
'03' AS NumeroLinhaSeparacao,
SUM("produtividade_linha_03_pç_h") AS MediaProdutividade
FROM produtividade.tb_produtos_cabelos
GROUP BY linha_separacao_03

UNION ALL

SELECT linha_separacao_04 AS LinhaSeparacao,
'04' AS NumeroLinhaSeparacao,
SUM("produtividade_linha_04_pç_h") AS MediaProdutividade
FROM produtividade.tb_produtos_cabelos
GROUP BY linha_separacao_04

)
AS ProdutividadeRank

GROUP BY  LinhaSeparacao, NumeroLinhaSeparacao
ORDER BY RankProdutividade;